{% extends "SportlobsterFrontBundle::layout.html.twig" %}

{% block content %}
	
	<div class="row starter-template">
		<div class="span9">
		{% for item in collection %}

			{% set item_type = item.category|lower %}

			{% if exclude_type != item_type %}
				<div class="span4">
					<h2>{{ item.title|raw }}</h2>
					<p>{{ item.description|raw }}</p>
					<p class="small">{{ item.pupDate|date('Y-m-d H:i')}}</p>
					{% if 'report' == item_type %}
					<p><a class="btn btn-default" href="{{ path('sportlobster_front_category_type', {'category': category, 'type': 'report'}) }}" role="button">View all {{ item_type }}</a></p>
					{% endif %}
				</div>
			{% endif %}

		{% endfor %}
		</div>
	</div>
{% endblock %}